@import "tailwindcss";

@theme {
  --color-zenco-blue: #08B9ED;
  --color-zenco-dark: #1a1a1a;
  --font-sans: 'Roboto' !important;
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}